@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;

  background: #F8FAFC;

  color: #0F172A;

  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}